
@import '../../variables.scss';

.header{
background: rgb(2,0,36);
background: $header-background
}

.header-area{
button{
width: 100px;    
border-radius: 0;
background: $button-background;
}
}
.active {
    background-color: $button-active-background !important;
    border: 1px solid #fff;
}